<div class="col-lg-6 offset-lg-3 mt-5">

  <div class="cardbox shadow-lg bg-white">

    <div class="cardbox-heading">

      <div class="media m-0">
        <div class="d-flex mr-3">
          <img class="img-fluid rounded-circle"
            src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg" alt="User">
        </div>
        <div class="media-body">
          <p class="m-0">{{profileForm.controls['name'].value}}</p>
          <small><span>@{{profileForm.controls['username'].value}}</span></small>
        </div>
      </div>
      <!--/ media -->
    </div>
    <!--/ cardbox-heading -->


    <div class="mx-4">
      <div class="register-form">
        <h2>Perfil</h2>
        <form [formGroup]="profileForm" (ngSubmit)="onUpdateProfile(profileForm.value)">
          <div class="form-group">
            <label>Nombre completo <span class="text-danger">*</span></label>
            <input formControlName="name" type="text" class="form-control" placeholder="Escribe tu nombre completo...">
          </div>
          <div class="form-group">
            <label>Nombre de usuario <span class="text-danger">*</span></label>
            <input formControlName="username" type="text" class="form-control"
              placeholder="Escribe un nombre de usuario...">
          </div>
          <div class="form-group">
            <label>Correo electrónico <span class="text-danger">*</span></label>
            <input formControlName="email" type="email" class="form-control"
              placeholder="Escribe un correo electrónico...">
          </div>
          <div class="form-group">
            <div class="custom-file">
              <input formControlName="photo" type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Elegir
                foto de perfil</label>
            </div>
          </div>
          <div class="form-group form-check">
            <input formControlName="botmode" type="checkbox" class="form-check-input" id="botmode">
            <label class="form-check-label" for="botmode">Modo Bot</label>
          </div>
          <div class="form-group">
            <label>Ingresa tu contraseña para confirmar los cambios <span class="text-danger">*</span></label>
            <input formControlName="password" type="password" class="form-control"
              placeholder="Escribe tu contraseña...">
          </div>
          <div class="row">
            <div class="col">
              <span class="text-danger">* Campos obligatorios</span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <button [disabled]="profileForm.invalid" type="submit" class="btn btn-dark btn-block">Actualizar
                perfil</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-danger">{{errorMessage}}</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--/ cardbox -->
</div>
