<div class="sidenav">
  <div class="login-main-text">
    <h1>uSocial</h1>
    <h5>Inicia sesión o crea una cuenta para acceder.</h5>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form" *ngIf="!showRegister else RegisterForm">
      <h1>Iniciar sesión</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm.value)">
        <div class="form-group">
          <label>Nombre de usuario <span class="text-danger">*</span> </label>
          <input formControlName="username" type="text" class="form-control"
            placeholder="Escribe tu nombre de usuario...">
        </div>
        <div class="form-group">
          <label>Contraseña <span class="text-danger">*</span></label>
          <input formControlName="password" type="password" class="form-control" placeholder="Escribe tu contraseña...">
        </div>
        <div class="row">
          <div class="col">
            <span class="text-danger">* Campos obligatorios</span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-secondary btn-block" (click)="goToRegister()">Crear una cuenta</button>
          </div>
          <div class="col">
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-black btn-block">Iniciar sesión</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="text-danger">{{errorMessage}}</p>
          </div>
        </div>
      </form>
    </div>

    <ng-template #RegisterForm>
      <div class="register-form">
        <h1>Crear cuenta</h1>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(registerForm.value)">
          <div class="form-group">
            <label>Nombre completo <span class="text-danger">*</span></label>
            <input formControlName="name" type="text" class="form-control" placeholder="Escribe tu nombre completo...">
          </div>
          <div class="form-group">
            <label>Nombre de usuario <span class="text-danger">*</span></label>
            <input formControlName="username" type="text" class="form-control"
              placeholder="Escribe un nombre de usuario...">
          </div>
          <div class="form-group">
            <label>Correo electrónico <span class="text-danger">*</span></label>
            <input formControlName="email" type="email" class="form-control"
              placeholder="Escribe un correo electrónico...">
          </div>
          <div class="form-group">
            <div class="mb-2">
              <img [src]="registerForm.controls['photo'].value || '/assets/no-photo.png'" width="100px" height="100px" style="object-fit: cover;" />
              <button type="button" (click)="photoInput.click()" class="btn btn-link ml-2">Elegir foto de perfil</button>
            </div>
            <input #photoInput hidden (change)="handleUpload($event)" type="file">
          </div>
          <div class="form-group">
            <label>Contraseña <span class="text-danger">*</span></label>
            <input formControlName="password" type="password" class="form-control"
              placeholder="Escribe tu contraseña...">
          </div>
          <div class="form-group">
            <label>Repite la contraseña <span class="text-danger">*</span></label>
            <input formControlName="repeatPassword" type="password" class="form-control"
              placeholder="Escribe de nuevo tu contraseña...">
          </div>
          <div class="row">
            <div class="col">
              <span class="text-danger">* Campos obligatorios</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-secondary btn-block" (click)="goToLogin()">Ya tengo una
                cuenta</button>
            </div>
            <div class="col">
              <button [disabled]="registerForm.invalid" type="submit"
                class="btn btn-black btn-block">Registrarme</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-danger">{{errorMessage}}</p>
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>
</div>
