<div class="col-lg-6 offset-lg-3">

    <div class="row" *ngIf="errorMessage">
        <div class="col">
          <div class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        </div>
    </div>
    
    <div class="card shadow-lg my-3 px-3">
        <div class="input-group my-3">
            <input [(ngModel)]="rawFilterField" type="text" class="form-control" placeholder="Etiquetas...">
            <div class="input-group-append">
            <button class="btn btn-outline-primary" type="button" (click)="filter()">Filtrar</button>
            </div>
        </div>
    </div>
      

    <app-crear-post></app-crear-post>

    <div *ngFor="let post of postsCurrent">
      <app-post  [post]="post" (newPostEvent)="newPost($event)"></app-post>
    </div>
</div>